Author:{{blog.author}} <br>
{{blog.blogpost}} <br>
<br>
<p><img src={{blog.image}} ></p>

<h2> Reviews </h2>

<ul>
  {{#each blog.reviews as |review|}}
    {{review-tile review=review update="update" destroyReview="destroyReview" }}
  {{/each}}
</ul>


<button {{action 'delete' blog}}>Delete Blog</button>
