{{#if updateReviewForm}}
  <h4>Update {{rental.owner}}'s {{rental.type}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        {{input value=rating id="rating"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content"}}
      </div>

      <button {{action 'updateReview' review}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateReviewForm'}}>Update</button>
{{/if}}
